main {
  padding: 0.3rem;
  font-size: 1.125rem;
}
body {
  min-width: 1030px;
}
header {
  padding: 0.9rem;
  font-weight: 600;
}
#body {
  /* display: flex; */
}

/* id list */
#list {
  overflow-x: auto;
  margin-bottom: 1.5rem;
}
#list-s {
  overflow-y: auto;
  max-height: 40rem;
  width: 46rem;
}
#table-s {
  /* width: 5rem; */
}
/* controll */
#control div {
  /* width: 300rem; */
  margin: 1rem 0;
}

table {
  width: 45rem;
  border-collapse: collapse;
  font-size: 1rem;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #4caf50;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
