<!-- navbar.html -->
<div
  id="navbar"
  class="navbar-container bg-white vh-100 position-fixed top-0"
  style="
    border-right: 1px solid #dee2e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  "
>
  <div
    class="d-flex flex-column align-items-start pt-5 w-100 position-relative"
    style="z-index: 1000; overflow: visible"
  >
    <button
      id="toggle-nav-btn"
      class="btn btn-light position-absolute top-10"
      style="background-color: #dee2e6; border-radius: 5px"
    >
      &times;
    </button>
    <ul class="nav flex-column w-100">
      <li class="nav-item mt-4 m-2">
        <a class="nav-link text-black" href="/WebContent/index.html">
          <i class="fas fa-tachometer-alt nav-icon"></i>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li class="nav-item m-2">
        <a
          class="nav-link text-black"
          href="/WebContent/pages/material/materialPage.html"
        >
          <i class="fas fa-boxes nav-icon"></i>
          <span class="nav-text">자재관리</span>
        </a>
      </li>
      <li class="nav-item m-2">
        <a
          class="nav-link text-black"
          href="/WebContent/pages/storage/storagePage.html"
        >
          <i class="fas fa-warehouse nav-icon"></i>
          <span class="nav-text">입고관리</span>
        </a>
      </li>
      <li class="nav-item m-2">
        <a
          class="nav-link text-black"
          href="/WebContent/pages/retrieval/retrievalPage.html"
        >
          <i class="fas fa-dolly nav-icon"></i>
          <span class="nav-text">출고관리</span>
        </a>
      </li>
      <li class="nav-item m-2">
        <a
          class="nav-link text-black"
          href="/WebContent/pages/history/historyPage.html"
        >
          <i class="fas fa-history nav-icon"></i>
          <span class="nav-text">입출고내역</span>
        </a>
      </li>
      <li class="nav-item m-2">
        <a
          class="nav-link text-black"
          href="/WebContent/pages/ranking/rankingPage.html"
        >
          <i class="fas fa-chart-line nav-icon"></i>
          <span class="nav-text">기간별입출고순위</span>
        </a>
      </li>
      <li class="nav-item dropdown dropend m-2">
        <a
          class="nav-link text-black dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-cubes nav-icon"></i>
          <span class="nav-text">재고관리</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li>
            <a
              class="dropdown-item text-white"
              href="/WebContent/pages/stock/stockStatus/stockStatusPage.html"
              >재고 현황</a
            >
          </li>
          <li>
            <a
              class="dropdown-item text-white"
              href="/WebContent/pages/stock/stockManagementPage.html"
              >재고 조정</a
            >
          </li>
          <li>
            <a
              class="dropdown-item text-white"
              href="/WebContent/pages/stock/stockHistoryPage.html"
              >재고 조정 내역</a
            >
          </li>
        </ul>
      </li>
      <li class="nav-item dropdown dropend m-2">
        <a
          class="nav-link dropdown-toggle text-black"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="fas fa-warehouse nav-icon"></i>
          <span class="nav-text">창고관리</span>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li>
            <a
              class="dropdown-item text-white"
              href="/WebContent/pages/warehouse/warehouseSetting/warehouseSettingPage.html"
              >창고 설정</a
            >
          </li>
          <li>
            <a
              class="dropdown-item text-white"
              href="/WebContent/pages/warehouse/warehouseStatus/warehouseStatusPage.html"
              >창고 현황</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>
