/* 전체 페이지 레이아웃을 위한 설정 */
@media screen {
}

/* 여기부터 다시 시작 */
#title {
  margin-left: 0.4rem;
  font-size: 1.3rem;
  margin-top: 0.3rem;
  font-weight: bold;
}

#firstSearchBar {
  margin-left: 8rem;
  margin-right: 8rem;
  margin-top: 3rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 4px; /* 모서리 둥글게 설정 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
}

#firstSearchBar #selectInput {
  margin-left: 10px;
  width: 130px; /* 너비 설정 */
  height: 26px; /* 높이 설정 */
  padding: 1px; /* 내부 여백 설정 */
  font-size: 16px; /* 글꼴 크기 설정 */
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 4px; /* 모서리 둥글게 설정 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
}

#secondSearchBar {
  margin-top: 1rem; /* 앞에 bar와 간격 */
  margin-left: 8rem;
  margin-right: 8rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 4px; /* 모서리 둥글게 설정 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
}

#secondSearchBar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 46px;
  padding-top: 13px;
}

#buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  gap: 0.5rem;
}

.download {
  display: flex;
  margin-left: 1320px;
}

table {
  margin-top: 1rem;
}

#radios {
  display: flex;
  margin-left: 70px;
}

#radios > .radio-group {
  margin-top: 5px;
  margin-right: 30px;
}

#searchBar {
  width: 300px;
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 4px; /* 모서리 둥글게 설정 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
}

#secondSearchBar .btn-group {
  margin-left: 20px;
  margin-bottom: 4px;
}

.btn-group .btn {
  font-size: 0.75rem; /* 버튼 텍스트 크기 줄이기 */
  padding: 0.25rem 2rem; /* 버튼 내부 여백 줄이기 */
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 4px; /* 모서리 둥글게 설정 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
}

.btn-group .btn-check {
  width: 1.5rem; /* 라디오 버튼 너비 줄이기 */
  height: 1.5rem; /* 라디오 버튼 높이 줄이기 */
}

.btn-group .btn-outline-primary {
  border-radius: 0.25rem; /* 버튼 모서리 둥글게 */
}

#dates {
  display: flex;
  margin-left: 50px;
  margin-bottom: 8px;
}

#dateEnd {
  width: 120px;
  height: 25px;
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 4px; /* 모서리 둥글게 설정 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
}

#dateStart {
  width: 120px;
  height: 25px;
  border: 1px solid #ccc; /* 테두리 설정 */
  border-radius: 4px; /* 모서리 둥글게 설정 */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 그림자 설정 */
}

#blank {
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
}

/* th {
  text-align: center;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border: 0.05rem solid black;
}

td {
  text-align: center;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  border: 0.05rem solid black; 
} */

/* 테이블 스타일링 */
/* 테이블을 감싸는 컨테이너에 스크롤 기능 추가 */

/* 테이블 스타일링 */
#table-container table {
  width: max-content; /* 표 깨짐 방지*/
  table-layout: fixed;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  font-size: 1rem;
}

th {
  background-color: #e0e0e0;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f7f7f7;
}

tr:nth-child(odd) {
  background-color: #ffffff;
}

input[type="checkbox"] {
  transform: scale(1.2);
}

thead {
  position: sticky;
  top: 0;
}

tbody tr:hover {
  background-color: #d3d3d3;
}

/* 구분 */
th:nth-child(3),
td:nth-child(3) {
  width: 100px;
}

/* 바코드 */
th:nth-child(4),
td:nth-child(4) {
  width: 200px;
}

/* 자재명 */
th:nth-child(5),
td:nth-child(5) {
  width: 250px;
}

/* 모델명 */
th:nth-child(6),
td:nth-child(6) {
  width: 250px;
}

/* 제조사 */
th:nth-child(7),
td:nth-child(7) {
  width: 150px;
}

/* 처리일자 */
th:nth-child(9),
td:nth-child(9) {
  width: 250px;
}

#table-container {
  margin-top: 10px;
  margin-left: 10px;
  max-height: 500px; /* 필요에 따라 높이를 조정 */
  max-width: 1400px;
  overflow-x: auto;
  overflow-y: auto;
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  text-align: center;
}

/*삭제 버튼*/
.deleteImg {
  background-size: cover;
}
