body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}

header {
  flex: 0 0 auto;
}

.navbar-container {
  width: 250px;
  transition: width 0.3s;
  overflow: hidden;
}

.navbar-container.collapsed {
  width: 100px;
}

.navbar-container.collapsed .navbar-brand,
.navbar-container.collapsed .nav-text {
  display: none;
}

.navbar-container.collapsed .nav-item {
  display: flex;
  justify-content: center;
}

.navbar-container.collapsed #toggle-nav-btn {
  margin: auto;
}

.content {
  flex: 1 0 auto;
  margin-left: 250px;
  transition: margin-left 0.3s;
}

.navbar-container.collapsed ~ .content {
  margin-left: 100px;
}

#toggle-nav-btn {
  transition: transform 0.3s;
}

#toggle-nav-btn {
  top: 10px;
  right: 10px;
  border-radius: 50%;
}

.nav-icon {
  font-size: 1.5rem; /* 원하는 크기로 변경 */
}
